<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" href="/css/main.css">

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Spring Boot</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">

    <div class="col-8 offset-2">
        <h1>Spring Boot Web Thymeleaf Example</h1>
        <h2>
            <!--<span th:text="'Message: ' + ${products}"></span>-->
            <table class="table table-bordered table-striped">
                <tr th:each="product: ${products}">
                    <td th:text="${product.description}" />
                    <td th:if="${product.success}" ><img class="icon" src="/Icon_CheckMark.svg"/></td>
                    <td th:if="${!product.success}" ><img class="icon" src="/Icon_Fire.svg"/> </td>
                </tr>
            </table>
        </h2>
    </div>

</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
